/* Logo Style */
#logo { 
  position: absolute;
  /*position: relative;*/
  display: block;
  /*margin: 0 auto;*/
  top: 100px;
  margin-left: 450px;
  width: 500px;
  font-family: 'Ranga', cursive;
  font-size: 3em;
  color: black;
  text-align: center;
}