*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Initial body */
html, body {
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0; 
  overflow: hidden;
  position: relative;
}

/* Initial menu */
.menu {
  background-color: #F26948;
  right: -245px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Logo Style */
#logoFont { 
  position: relative;
  font-family: 'Ranga', cursive;
  font-size: 3em;
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
  line-height: 30px;
  border-bottom: 4px solid black;
  color: black;
  -webkit-transform: rotate(-25deg);
}

#mainBurger {
  display: block;
  margin: 0 auto;
  /*max-width:230px;
  max-height:95px;*/
  width: auto;
  height: auto;
  display: block;
  /*margin-top: 600px;*/
}

#mainBurger:hover {
 
}

/* Basic styling */
.jumbotron {
  background-color: #40B7D9; 
  min-height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid white;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-top: 3px;
}

.fa {
  margin-right: 14px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: default;
}

.menu a:hover {
  color: black;
}

.close {
  width: 60px;
  background-color: rgb(121, 191, 173);
  margin-bottom: 9px;
  margin-left: 1px;
}

.close:hover {
  background-color: rgb(236, 214, 130);
}

.icon-close {
  width: 59px;
  cursor: crosshair;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  width: 100px;
  color: #fff;
  cursor: crosshair;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}

/*======= SOCIAL NAV ======*/
.social-nav {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 10px auto;
}
.social-nav li {
  display: inline-block;
}
.social-nav a {
  display: inline-block;
  float: left;
  width: 48px;
  height: 48px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  background: #000;
  position: relative;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

i {
  margin-left: 10px;
}

.model-0 {
  position: absolute;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 0;
  bottom: 0;
}
.model-0 li {
  float: none;
  display: block;
}
.model-0 a:hover {
  padding-left: 20px;
  width: 65px;
}
.model-0 .twitter {
  background: #00ACED;
}
.model-0 .facebook {
  background: #3B579D;
}
.model-0 .google-plus {
  background: #DD4A3A;
}
.model-0 .linkedin {
  background: #007BB6;
}
.model-0 .pinterest {
  background: #CB2026;
}
